<ul class="sidebar-nav list-group">
{#  {% if user.is_authenticated %}#}
{#    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>#}
{#    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>#}
{#  {% else %}#}
{#    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>#}
{#  {% endif %}#}

  <br>

  <li class="list-group-item"><a href="{% url 'catalog:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:musician-list' %}">All musicians</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:band-list' %}">All bands</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:song-list' %}">All songs</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:instrument-list' %}">All instruments</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:genre-list' %}">All genres</a></li>
</ul>
