{% extends "base.html" %}

{% block content %}

  <h1>
    {{ musician.full_name }}
    <a href="{% url 'catalog:musician-update' pk=musician.id %}" class="btn btn-primary link-to-page">
      Update
    </a>
    <a href="{% url 'catalog:musician-delete' pk=musician.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>

  {% if musician.instrument_list %}
    <h3>Instruments: {{ musician.instrument_list|join:", " }}</h3>
  {% endif %}

  {% if musician.bands.all %}
  <br>
  <h3>Member of:</h3>
  <ul>
    {% for band in musician.bands.all %}
      <li><a href="{{ band.get_absolute_url }}">{{ band.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  <form method="get" class="form-inline">
    {{ filter.form.as_p }}
    <input type="submit" value="Filter" />
  </form>

  {% if filter.qs %}
    <h3>Songs</h3>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Band</th>
        <th>Album</th>
        <th>Role</th>
      </tr>
    {% for performance in filter.qs %}
      {% for song in performance.songs.all %}
        <tr>
          <td>{{ song.id }}</td>
          <td><a href="{{ song.get_absolute_url }}">{{ song.name }}</a></td>
          <td><a href="{{ song.albums.first.band.get_absolute_url }}">{{ song.albums.first.band.name }}</a></td>
          <td>{{ song.album_list|join:", " }}</td>
          <td>{{ performance.instruments.all|join:", " }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
    </table>
  {% else %}
    <p>No songs found</p>
  {% endif %}

  <br>

  {% if musician.performance_set.all %}
    <h4>
      Performances
      <a href="{% url 'catalog:performance-create' %}" class="btn btn-primary link-to-page">
        Create performance
      </a>
    </h4>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Instruments</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for performance in musician.performance_set.all %}
      <tr>
        <td>{{ performance.id }}</td>
        <td>{{ performance.instruments.all|join:", " }}</td>
        <td>
          <a href="{% url 'catalog:performance-update' pk=performance.id %}">Update</a>
        </td>
        <td>
          <a href="{% url 'catalog:performance-delete' pk=performance.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <a href="{% url 'catalog:performance-create' %}" class="btn btn-primary">
      Create performance
    </a>
  {% endif %}
{% endblock %}
