{% extends "base.html" %}

{% block content %}
  <h1>{{ song.name }}</h1>

  {% if song.albums.all and song.albums.first.band %}
    <h3>by <a href="{{ song.albums.first.band.get_absolute_url }}">{{ song.albums.first.band.name }}</a></h3>

    <br>

    <h3>Featured in album{{ song.albums.all|pluralize }}</h3>
    <ul>
      {% for album in song.albums.all %}
        <li>{{ album.name }}</li>
      {% endfor %}
    </ul>

    <h3>Performed by:</h3>
    <ul>
      {% for member in song.performances.all %}
        <li><a href="{{ member.musician.get_absolute_url }}">{{ member }}</a></li>
      {% endfor %}
    </ul>

  {% endif %}

{% endblock %}
