{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>{{ song_form.initial|yesno:"Update,Create" }} song</h1>
  <form action="" method="post">
    {% csrf_token %}
    {{ song_form|crispy }}

    <input type="submit" value="{{ song_form.initial|yesno:"Update,Create" }} song" class="btn btn-primary" name="create-song">
  </form>

  <br>

  <h3>Create performance</h3>
  <form action="" method="post">
    {% csrf_token %}
    {{ performance_creation_form|crispy }}

    <input type="submit" value="Create performance" class="btn btn-primary" name="create-performance">
  </form>

  <br>

  <h3>Create instrument</h3>
  <form action="" method="post">
    {% csrf_token %}
    {{ instrument_creation_form|crispy }}

    <input type="submit" value="Create instrument" class="btn btn-primary" name="create-performance">
  </form>

{% endblock %}
